* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(221, 218, 218);
    font-family: 'Merriweather', serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(118, 118, 255);
}
.Ing-usuario{
    height: 2vw;
    border: 0px;
    border-radius: 13px;
    font-size: 80%;
    font-family: 'Merriweather', serif; 
    margin-right: 3vw;
}
.logo{
    margin:1% 0% 1% 4%;
    height: 3vw;
}
.contenedor{
    height: min-content;
    width: 90%;
    max-width: 1400px;
    margin: 5%;
    /*Arriba,der, abajo, izq */
    display: grid;
    gap: 4%;
    grid-template-areas:
                        "datos datos datos"
                        "publicacion publicacion sobremi"
                        "publicacion publicacion  .";
}
.FotoPerfil{
    width: 15vw;
    border-radius: 100%;
    border-width: 4px;
    padding: 3px;
    border-style: solid;
    border-color: rgb(82, 82, 255);
    margin: 2vw;

}
.contenedor >div,
.Datos-Perfil,
.contenedor .Publicacion,
.contenedor .Sobre mi{
    background-color: #fff;
    padding: 20px;
}
.Datos-Perfil{
    display: flex;
    height: max-content;
    grid-area: datos;
    border-radius: 2rem;
}

.Publicacion {
    grid-area: publicacion;
    border-radius: 2rem;

}
.ImagenPublic{
    width: 95%;
    border-radius: 1rem;
    margin-left: 1rem;

}
.Sobre-mi{
    grid-area: sobremi;
    border-radius: 2rem;
    color:  rgb(170, 147, 170);

}
p,h2,h3,h4{
    line-height: 2rem;
}
.Nombre{
    margin-top: 3vw;
}
.datosP{
    margin-left: 1vw;
    width: 30%;
}
.DivBtnSeguir{
    width: 55%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.botonSeguir{
    color: #fff;
    border-style: none;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 90%;
    font-family: 'Merriweather', serif; 
    background-color: rgb(118, 118, 255);
}
.trabajando{
    color: rgb(212, 190, 212);
}
.FechaPublic{
    color: rgb(212, 190, 212);
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.BtnMeGusta{
    color: rgb(52, 8, 156);
    border-style: none;
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 90%;
    font-family: 'Merriweather', serif; 
    background-color: rgb(221, 218, 218);
    margin: 1rem;
}
.TxtComentar{
    height: 2vw;
    width: 75%;
    border: 0px;
    border-radius: 13px;
    font-size: 80%;
    font-family: 'Merriweather', serif; 
    margin-right: 3vw;
}
.BtnComentar{
    color: #fff;
    border-style: none;
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 90%;
    font-family: 'Merriweather', serif; 
    background-color: rgb(118, 118, 255);
}
.Comentarios{
    margin-left: 1rem;
}



